.end{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    margin-top: 120px;
    width:850px;
    height:400px;
    border: 1px solid #ccc;
    margin-left: -30px;
}

.middle{
    margin:50px 0px 0px 220px;
    width: 400px;
    height:200px;
    text-align: center;
}

.can,
.and,
.jump{
    padding-top:20px;
}

.can{
    font-size: 17px;
    font-weight: 600;
}
.and{
    font-size: 12px;
    padding-top: 30px;
}
.jump{
    font-size: 11px;
}
.round{
    position: relative;
    left:105px;
    top:30px;
    width:35px;
    height:35px;
    border: 2px solid #f50;
    border-radius: 50px 50px;
}
.correct,
.error{
    width:14px;
    height:14px;
    border: 2px solid #f50;
    border-width: 0px 0px 2px 2px;
}

.correct{
    transform: rotateZ(-45deg);
    margin: 0px 0px 0px 10px;
}
.error{
    transform: rotateZ(135deg);
    margin: 4px 0px 0px 10px;
}