*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    outline: none; 
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.about{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    margin-top: 80px;
    width:700px;
    height:450px;
    border: 1px solid #ccc;
}

.line{
    display: inline-block;
    width:1%;
    height:20px;
    background-color: #f50;;
}
.book{
    display: inline-block;
    vertical-align:top;
    margin-top: -1px;
}

.about > .cert-top{
    margin-left: 0;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid #ccc;
}

.word{
    float: right;
    margin-right: 200px;
    margin-top: 15px;
}


.place{
    margin-top: 30px;
}
.over{
    float:right;
}

.over{
    position: relative;
    left:-200px;
    margin-top:20px;
    border: 1px springgreen solid;
}
.power{
    font-size: 15px;
    line-height: 15px;
    background-color: #f50;
    color:white;
    border: none;
    outline:none;
    width:300px;
    padding:8px;
    border-radius: 5px;
}

input{
    border: 1px solid #999;
    height:30px;
    border-radius: 3px;
    font-size: 12px;
}
.input1,
.input2,
.input3,
.input4{
    width:225px;
    margin-bottom: 15px;
}

form{
    margin-top: 40px;
}

.hidden{
    position: absolute;
    display: none;
    margin-left: 10px;
}